<div id="carouselExampleAutoplaying" class="carousel slide mt-4 " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "article1", alt: 'article', class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "article2", alt: 'article', class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "article3", alt: 'article', class:"d-block w-100" %>
    </div>
  </div>  
</div>